  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    min-height: 15em
  }
  .grid-item2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body {
    background-image: url("/images/sky.jpg");
    background-attachment: fixed;
  }
  a{
      color: black;
  }
